<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @equipment.code %>
</p>

<p>
  <strong>Class equipment:</strong>
  <%= @equipment.class_equipment %>
</p>

<p>
  <strong>Type equipment:</strong>
  <%= @equipment.type_equipment %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @equipment.manufacturer %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @equipment.platform %>
</p>

<p>
  <strong>Model number:</strong>
  <%= @equipment.model_number %>
</p>

<p>
  <strong>Os:</strong>
  <%= @equipment.os %>
</p>

<p>
  <strong>Total memory ram:</strong>
  <%= @equipment.total_memory_ram %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @equipment.processor %>
</p>

<p>
  <strong>Total storage:</strong>
  <%= @equipment.total_storage %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @equipment.purchase_date %>
</p>

<p>
  <strong>Warranty expires:</strong>
  <%= @equipment.warranty_expires %>
</p>

<p>
  <strong>Details:</strong>
  <%= @equipment.details %>
</p>

<p>
  <strong>User:</strong>
  <%= @equipment.user %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
